<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone: {% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/images/black-logo.png" type="image/png">  
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .fade-out {
          transition: opacity 0.5s ease-in-out;
        }
    </style>
</head>
<body> <!-- Added a background color for clarity -->
    {% if session["username"] %}
    <nav class="w-64 bg-white h-screen fixed top-0 left-0 flex flex-col items-center p-4 shadow-md">
        <a href="/home" class="text-black mb-4">
          <img src="../static/images/logo.png" alt="ig logo" class="max-w-full h-auto" />
        </a>
        <a href="/home" class="text-black flex items-center hover:bg-gray-200 px-4 py-2 rounded">
          <img src="../static/images/home.png" alt="home icon" class="w-6 h-6 mr-2" />
          Home
        </a>
        <a href="/profile" class="text-black flex items-center mt-2 hover:bg-gray-200 px-4 py-2 rounded">
          <img src="../static/images/account_circle.png" alt="account circle icon" class="w-6 h-6 mr-2" />
          Profile
        </a>
        <a href="/messages" class="text-black flex items-center mt-2 hover:bg-gray-200 px-4 py-2 rounded">
          <img src="../static/images/messages.png" alt="messages icon" class="w-6 h-6 mr-2" />
          Messages
        </a>
        <a href="/logout" class="text-black flex items-center mt-2 hover:bg-gray-200 px-4 py-2 rounded">
          <img src="../static/images/logout.png" alt="logout icon" class="w-6 h-6 mr-2" />
          Log Out
        </a>
      </nav> 
    {% endif %}
 
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
