{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="w-full max-w-3xl mx-auto">
    <div class="flex justify-center items-center">
      <div class="w-full max-w-lg" id="post-container">
        <ul class="space-y-4">
          {% for post in posts %}
            {% if session["username"] == post['username'] %}
                <p class="m-3"><strong>Uploaded by:</strong> {{ post['username'] }}</p>
                <li class="bg-white shadow-md p-4 text-center">
                {{ post['content'] }}
                {% if post['image_path'] %}
                    <img style="max-width: 100%;" src="{{ post['image_path'] }}" alt="Post Image" class="mt-4 mx-auto">
                {% endif %}
                    <form class="m-3" method="post" action="/delete_post">
                    <input type="hidden" name="post_id" value="{{ post['id'] }}">
                    <button type="submit" class="bg-red-500 text-white p-2 rounded">Delete Post</button>
                    </form> 
                </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}